/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/dist/styles/ag-grid.css";
@import "../node_modules/ag-grid-community/dist/styles/ag-theme-alpine.css";


* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

  /* body.html {
    background: url(../src/assets/background.png);
    background-repeat: repeat;
    background-size: 40%;
    display: block;
  }
  */

  body{
    background: url(assets/background.png);
    background-repeat: repeat;
    background-size: 40%;
    display: block;
    height: 100%;
  }
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#loading{
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  }

  #loading2{
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;

  }

  .mat-button{
    height: 100%;
  }

  .mat-success {
    background-color: #366288;
    /* color: #fff; */
  }


  @keyframes hide {
    0% {
      opacity: 1;
      transform-origin: top;
    }

    100% {
      opacity: 0;
      transform-origin: top;
      height: 0px;
      /* display: none; */
    }
  }

  @keyframes show {
    0% {
      opacity: 0;
      height: 0px;
      transform-origin: top;
    }

    100% {
      transform-origin: bottom;
      opacity: 1;
    }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

