h3{
    font: 'Lato', "Times New Roman", Times, serif;
    color: #3B678E;
    /* text-align: center; */
    /* margin: 20px; */
    font-weight: 500;
  }

.record-container{
  padding: 20px
}


.fltr{
  font-weight: 500;
  font-size: 15px;
  margin-right: 10px;
}

ul{
  list-style-type:none;
  padding: 0px;
}

#record{
  font-weight:500;
  font-size: 15px;
  cursor: pointer;
  text-decoration: underline;
}


@media only screen and (min-width: 440px) {
  .record-details{
    padding-left: 40px;
    padding-right: 40px;
  }
}