h3{
    font: 'Lato', "Times New Roman", Times, serif;
    color: #3B678E;
    /* text-align: center; */
    margin: 10px 10px 20px 10px;
    font-weight: 500;
}

.list-container{
    display: flex;
    flex-direction: row;
    margin-bottom: 0px;
}

.info-button{
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
}


.archival{
    margin-right: 30px;
}

.title{
    margin-right: 5px;
    font-weight:500;
}

a{
    color: black;
}

.info{
    position: relative;
    bottom: 3px;
}

.info-container{
    margin-bottom: 5px;
    font-size: 13px;
}

.archival-categories{
    list-style: none;
    font: 'Lato', "Times New Roman", Times, serif;
    color: #3B678E;
}

.catgory-title{
    margin-bottom: 5px;
}



.archival-container{
    height: max-content;
    padding: 10px;
    background-color: #f0f1f3;
    height: auto;
    border: 1px solid #d6d3d3;
  }

.list-wrapper{
    padding: 20px;
}

@media only screen and (max-width: 440px) {
    .archival-categories{
        padding: 10px;
    }
  }
  