<div class="list-wrapper">
    <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading"></span>
    </div>
    </div>
    <div class="archival-container" *ngIf="isDataLoaded">
    <h3>Explore archival sources of Maritime History</h3>

    <ul class="archival-categories">
        <li *ngFor="let category of getCategories(list); index as i;">
            <h4 class="catgory-title">{{category}}</h4> 
            <ul class="archival">
                <li *ngFor="let item of list[category]; index as j;">

                    <div class="list-container">
                        <div class="title">
                            <a
                                routerLink="/list/{{item.name}}">
                                {{item.name}} ({{item.count}} records)
                            </a>
                        </div>
                        <div class="info">
                            <button class="info-button" aria-label="info" (click)="showInfo(item.name)" title="info">
                                <mat-icon class="material-icons-outlined">info_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div *ngIf="id == item.name" class="info-container">
                        {{item.description}}
                    </div>
                </li>
            </ul>

        </li>
    </ul>
    </div>
</div>
<div></div>
