<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="record-container" *ngIf="showData">
  <div class="inside-wrapper">
    <div class="source-title">
    <a style="display: inline-block"
          routerLink="/sources/{{sourceName}}">
          <h3 style="margin: 0" >{{sourceName}}</h3>
        </a>
          <h3 style="display: inline-block; margin: 0">: {{title}} </h3>
          <a style="display: inline-block"
            href="https://isl.ics.forth.gr/FastCatTeam/templates/{{sourceId}}.html?name={{Id}}&templateTitle={{sourceName}}&mode=teamView"
          target="_blank" rel="noopener"
          ><h3 style="margin: 0">(FastCat Record)</h3></a>
    </div>

      <div class="record-details">

        <div class="type">
          <ul class="record-columns">
            <li *ngFor="let record of recordDataTitles; index as i;">
              <div class="tableName-wrapper">
                <p class="record" (click)="displaytable(record)">{{record}} ({{totalCount[i]}}) </p>
              </div>
            </li>
          </ul>
        </div>

    </div>
  </div>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status" id="loading-div" style = "display: none;">
        <span class="sr-only" role="status" aria-hidden="true" id="loading2"></span>
    </div>
  </div>
  <div class="table" *ngIf="tableClicked">
    <div class="title-download-div">
        <div class="title-div">
          <h3 class="table-title">{{TableName}} </h3>
        </div>
        <div class="chart-div">
          <button class="chart-but" mat-button [matMenuTriggerFor]="columns" color="success" title="Data Visualization"><mat-icon> bar_chart</mat-icon></button>
          <mat-menu #columns="matMenu">
            <button *ngFor="let column of columnTitles" mat-menu-item (click)="calculateStats(rowData,column)">{{column}}</button>
          </mat-menu>
        </div>
        <div class="download-div">
          <button class="download-but" mat-button color="success" title="Download CSV file" (click)="onBtnExport(rowData)"><mat-icon id="downicon">download</mat-icon></button>
        </div>
    </div>
    <ag-grid-angular oncontextmenu="return false;"
    [style]="tableHeight"
    class="ag-theme-alpine"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    [defaultColDef]="defaultColDef"
    [pagination]="true"
    [paginationPageSize]=9
    [gridOptions]="gridOptions"
    >
  </ag-grid-angular>
  </div>

  <div style="display: block;" *ngIf="chartOption">
    <canvas baseChart
      id = "chart"
      [data]="barChartData"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [type]="barChartType">
    </canvas>
    <div class="reset-div">
      <button class="reset-button" mat-stroked-button (click)="resetZoom()" title="Reset Zoom">
        Reset Zoom
      </button>
      <button class="reset-button" mat-stroked-button (click)="downloadChartData()" title="Download Chart data">
        <mat-icon>download</mat-icon>
      </button>
    </div>
  </div>

</div>
