<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="record-container" *ngIf="selectedTable">
  <h3 class="title">{{sourceName}}: {{title}} <a class='title'
    href="https://isl.ics.forth.gr/FastCatTeam/templates/{{sourceId}}.html?name={{Id}}&templateTitle={{sourceName}}&mode=teamView"
    target="_blank" rel="noopener"
    >(FastCat)</a></h3>
  <div class="tables"

  >
    <div class="nocol-grid">
      <div class="nontable" *ngFor="let info of nonLitsInfo; index as i;">
        <h3 class="notable-title">{{keysNonList[i]}} </h3>
          <p *ngFor="let item of info | keyvalue">
            <b>{{item.key}}</b> : {{item.value}}
          </p>
      </div>
    </div>

    <div class="table" *ngFor="let tableg of tables; index as i;">
      <h3 class="table-title">{{keysList[i]}}</h3>
      <ag-grid-angular
        style="height: 500px; width: auto;"
        class="ag-theme-alpine"
        [rowData]="tableg"
        [columnDefs]="tablesTitles[i]"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        [paginationAutoPageSize]=true
        [gridOptions]="gridOptions"
        >
      </ag-grid-angular>

    </div>
  </div>
</div>
