<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-info">
            <ul class="info-ul">
                <li>
                    <a class="info" routerLink="/list/about">About</a>
                </li>
                <li>|</li>
                <li>
                    <a class="info" routerLink="/list/terms-of-use">Terms of Use</a>
                </li>
                <li>|</li>
                <li>
                    <a class="info" routerLink="/list/terms-of-use">Privacy Policy</a>
                </li>
                <li>|</li>
                <li>
                    <a class="info" href="https://www.ics.forth.gr/isl/centre-cultural-informatics" target="_blank"> © 2022 FORTH-ICS CCI</a>
                </li>
            </ul>
        </div>
        <div class="footer-row">
            <div class="column one"> 
                <div class="footer-row left-footer-div"> 
                    <a href="http://www.sealitproject.eu/" target="_blank"><img class="backround" src="assets/sealit.png" alt="sealit"></a>
                    <a href="https://reknow.ics.forth.gr/" target="_blank"><img class="backround" src="assets/Reknow_Logo_small.png" alt="Reknow"></a>      
                </div>
            </div>
            <div class="push"></div>
            <div class="column two">
                <div class="footer-row right-footer-div">
                    <a href="https://erc.europa.eu/" target="_blank"><img src="assets/eu.png" alt="eu"></a>
                    <a href="https://ec.europa.eu/research/mariecurieactions/" target="_blank"><img src="assets/MSCA.png" alt="MSCA"></a>
                    <a href="https://erc.europa.eu/" target="_blank"><img class="backround" src="assets/erc.png" alt="ecr"></a>
                </div>
                <div class="footer-row forth-info">
                    <a href="https://www.ics.forth.gr/" target="_blank"><img src="assets/forth.png" alt="forth"></a>
                    <a href="https://www.ics.forth.gr/isl/" target="_blank"><img src="assets/isl.png" alt="isl"></a>
                    <a href="https://www.ics.forth.gr/isl/centre-cultural-informatics"><img src="assets/cci.png" alt="cci"></a>
                </div>
            </div>            
        </div>
    </div>
</footer>