<div class="table" [id]="id">
  <div class="title-download-div">
      <div class="title-div">
        <h3 class="table-title"(click)="titleClick(id)" >{{tableName}} </h3>
      </div>
      <div class="chart-div">
        <button class="chart-but" mat-button [matMenuTriggerFor]="columns" color="success" title="Data Visualization"><mat-icon> bar_chart</mat-icon></button>
        <mat-menu #columns="matMenu">
          <button *ngFor="let column of titles" mat-menu-item (click)="calculateStats(rowData,column)">{{column}}</button>
        </mat-menu>
      </div>
      <div class="download-div">
        <button class="download-but" mat-button color="success" title="Download CSV file" (click)="onBtnExport(rowData)"><mat-icon id="downicon">download</mat-icon></button>
      </div>
  </div>
  <ag-grid-angular oncontextmenu="return false;"
  id = "grid{{id}}"
  [style]="tableHeight"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [pagination]="true"
  [paginationPageSize]=9
  [gridOptions]="gridOptions"
  >
</ag-grid-angular>
</div>

<div style="display: block;" *ngIf="chartOption">
  <canvas baseChart
    id = "chart{{id}}"
    [data]="barChartData"
    [options]="barChartOptions"
    [plugins]="barChartPlugins"
    [type]="barChartType">
  </canvas>
  <div class="reset-div">
    <button class="reset-button" mat-stroked-button (click)="resetZoom()" title="Reset Zoom">
      Reset Zoom
    </button>
    <button class="reset-button" mat-stroked-button (click)="downloadChartData()" title="Download Chart data">
      <mat-icon>download</mat-icon>
    </button>
  </div>
</div>
