<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="record-container" *ngIf="selectedTable">
  <h3 class="title">{{sourceName}}: {{title}}</h3>
  <div class="nocol-grid">
    <div class="nontable" >
      <h3 class="notable-title">{{title}} </h3>
      <p *ngFor="let item of nonLitsInfo">
        <b>{{item.key}}</b> : {{item.value}}
      </p>
    </div>
  </div>

  <div class="tables">
      <div class="table" *ngFor="let tableg of tables; index as i;">
        <h3 class="table-title">{{keysList[i]}}</h3>
        <ag-grid-angular
        style="height: 500px; width: auto;"
        class="ag-theme-alpine"
        [rowData]="tableg"
        [columnDefs]="tablesTitles[i]"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        [paginationAutoPageSize]=true
        [gridOptions]="gridOptions"
        >
      </ag-grid-angular>
      <div class="download-div">
        <button class="download-but" mat-stroked-button (click)="onBtnExport(tableg)">Download CSV file <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>

    </div>
</div>

