<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="record-container" *ngIf="selectedTable">
  <h3 class="title">{{sourceName}}: {{title}}</h3>
  <div class="nocol-grid">
    <div class="nontable" >
      <h3 class="notable-title">{{title}} </h3>
      <p *ngFor="let item of nonLitsInfo">
        <b>{{item.key}}</b> : {{item.value}}
      </p>
    </div>
  </div>

  <div class="tables">
      <div class="table" *ngFor="let tableg of tables; index as i;">
        <div class="title-download-div">
          <h3 class="table-title" (click)="show(i)">{{keysList[i]}}</h3>
          <button class="download-but" mat-button title="Download CSV file" (click)="onBtnExport(tableg)"><mat-icon id="downicon">download</mat-icon></button>
        </div>
        <ag-grid-angular
        [id]="i"
        style="height: 500px; width: auto;"
        class="ag-theme-alpine"
        [rowData]="tableg"
        [columnDefs]="tablesTitles[i]"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        [paginationAutoPageSize]=true
        [gridOptions]="gridOptions"
        >
      </ag-grid-angular>
    </div>

    </div>
</div>

