<h1>lala</h1>
<div class="record-container">
  <div class="nocol-grid">
    <div class="nontable" >
      <h3 class="notable-title">{{title}} </h3>
      <p *ngFor="let data of noTableData; index as i;"> <b>{{data.key}}</b> : {{data.name}} </p>
    </div>
  </div>

  <div class="tables" *ngIf="displayTable">
    <div class="table" *ngFor="let tableg of tableArray; index as i;">
      <h3 class="table-title">{{keysList[i]}}</h3>
      <ag-grid-angular
        style="height: 500px; width: auto;"
        class="ag-theme-alpine"
        [rowData]="tableg"
        [columnDefs]="tablesTitles[i]"
        [defaultColDef]="defaultColDef"
        [pagination]="true"
        [paginationAutoPageSize]=true
        [gridOptions]="gridOptions"
        >
      </ag-grid-angular>

    </div>
  </div>
</div>
