.nav-container {
    position: relative;
    /* width: 100%; */
}

.backround-nav { 
    width: 100%;
    height: 160px;
}

.logo{
    position: absolute;
    top: 0;
    margin-left: 40px;
    cursor: pointer;
}

h2{
    font: 'Lato', "Times New Roman", Times, serif;
    color: #3B678E;
    font-weight:500;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

hr {
    border: 1px solid #5294D0;
}

/* @media only screen and (max-width: 425px) {
    .logo-container{
        align-items: center;
        margin-left: 40px;
    }
} 
*/