<div class="d-flex justify-content-center">
  <div class="spinner-border" role="status">
      <span class="sr-only" id="loading"></span>
  </div>
</div>
<div class="record-container">
  <div class="error-message" *ngIf="error">
    <p>{{errorMessage}}</p>
  </div>
  <div class="inside-wrapper" *ngIf="showData">
    <h3 id="source-title">{{title}}</h3>

    <div class="record-details">
      <div class="filter">
        <span class="fltr">Filter by record:</span>
        <mat-form-field appearance="outline">
          <mat-label>All records</mat-label>
          <mat-select [formControl]="records" (selectionChange)="displaySelectedRecord($event.value)">
            <mat-option *ngFor="let record of recordList" [value]="record" [title]="record">{{record}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="type" *ngIf="showData">
        <ul class="record-columns">
          <li *ngFor="let tableName of tableDataTitles; index as i;">
            <p class="record" (click)="displaytable(tableName)">{{tableName}} ({{totalCount[i]}}) </p>
          </li>
        </ul>
      </div>
    </div>
  </div>


    <div class="d-flex justify-content-center">
      <div class="spinner-border" role="status" id="loading-div" style = "display: none;">
          <span class="sr-only" role="status" aria-hidden="true" id="loading2"></span>
      </div>
    </div>
    <div class="table" *ngIf="tableClicked">
      <div class="title-download-div">
          <div class="title-div">
            <h3 class="table-title">{{TableName}} </h3>
          </div>
          <div class="chart-div">
            <button class="chart-but" mat-button [matMenuTriggerFor]="columns" color="success" title="Data Visualization"><mat-icon> bar_chart</mat-icon></button>
            <mat-menu #columns="matMenu">
              <button *ngFor="let column of columnTitles" mat-menu-item (click)="calculateStats(rowData,column)">{{column}}</button>
            </mat-menu>
          </div>
          <div class="download-div">
            <button class="download-but" mat-button color="success" title="Download CSV file" (click)="onBtnExport(rowData)"><mat-icon id="downicon">download</mat-icon></button>
          </div>
      </div>
      <ag-grid-angular oncontextmenu="return false;"
      [style]="tableHeight"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
      [pagination]="true"
      [paginationPageSize]=9
      [gridOptions]="gridOptions"
      >
    </ag-grid-angular>
    </div>

    <div style="display: block;" *ngIf="chartOption">
      <canvas baseChart
        id = "chart"
        [data]="barChartData"
        [options]="barChartOptions"
        [plugins]="barChartPlugins"
        [type]="barChartType">
      </canvas>
      <div class="reset-div">
        <button class="reset-button" mat-stroked-button (click)="resetZoom()" title="Reset Zoom">
          Reset Zoom
        </button>
        <button class="reset-button" mat-stroked-button (click)="downloadChartData()" title="Download Chart data">
          <mat-icon>download</mat-icon>
        </button>
      </div>
    </div>
</div>
