<div class="about-wrapper">
    <b>The Team</b>
    <p>
        - Developer: <a href="https://www.linkedin.com/in/giorgos-rinakakis/">Giorgos Rinanakis</a><br/>
        - Supervisor: <a href="http://users.ics.forth.gr/~fafalios/">Pavlos Fafalios</a><br/>
        - Support: <a href="http://petrakis.info/">Kostas Petrakis</a>
    </p>
    <b>The Institution</b>
    <p>
        <a href="https://www.ics.forth.gr/isl/centre-cultural-informatics">Centre for Cultural Informatics (CCI)</a>
        /
        <a href="https://www.ics.forth.gr/isl/">Information Systems Laboratory (ISL)</a><br/>
        <a href="https://www.ics.forth.gr/">Institute of Computer Science (ICS)</a><br/>
        <a href="https://forth.gr/en/home/">Foundation for Research and Technology - Hellas (FORTH)</a><br/>
    </p>
    <div class="forth-info">
        <a href="https://www.ics.forth.gr/isl/centre-cultural-informatics"><img src="assets/CCI_logo.png" alt="cci"></a>
        <a href="https://www.ics.forth.gr/isl/"><img src="assets/isl-logo.png" alt="isl"></a>
        <a href="https://www.ics.forth.gr/"><img src="assets/forth-ics.png" alt="forth"></a>
    </div>
    <b>The Projects</b>
    <p>
        - Developed in the context of the <a href="http://www.sealitproject.eu/">SeaLiT</a> project (ERC Starting Grant, No 714437).<br>
        - The work by Pavlos Fafalios has received funding from the European Union's Horizon 2020 research and innovation programme under the Marie Sklodowska-Curie grant agreement No 890861 (Project <a href="https://reknow.ics.forth.gr/">ReKnow</a>). 
    </p>
    <div class="forth-info">
        <a href="http://www.sealitproject.eu/"><img class="backround" src="assets/sealit.png" alt="sealit"></a>
        <a href="https://reknow.ics.forth.gr/"><img class="backround" src="assets/Reknow_Logo_small.png" alt="Reknow"></a> 
    </div> 
    <b>The Source Code</b>
    <p>- Available through GitHub (soon...)</p>
</div>