.wrapper{
    max-width: 980px;
    min-height: 100%;
    margin:  auto;
    background: #ededed;
}

.content{
    padding-bottom: 60px;
}

.footer {
    max-width: 980px;
    margin:  auto;
    background-color: #3b678e83;
    height: 60px;
    margin-top: -60px;
  }